// utils styles
@import "./utils/variables";
@import "./utils/visually-hidden";

// base styles
@import "./base/base";
@import "./base/reset";

//components styles
@import "./components/container";
@import "./components/section";
@import "./components/logo";
@import "./components/page-header";
@import "./components/mobil";
@import "./components/hero";
@import "./components/features";
@import "./components/services";
@import "./components/team";
@import "./components/clients";
@import './components/social-list';
@import "./components/portfolio-filters";
@import "./components/portfolio-gallery";
@import "./components/page-footer";
@import "./components/modal";



