.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;

    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--cubic-bezier),
        visibility 250ms var(--cubic-bezier);


  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    /*height: 581px;*/
    /*padding: 40px;*/

    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--cubic-bezier),
        opacity 250ms var(--cubic-bezier);

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 1200px){
        width: 528px;
    }
}
.modal__form{
    padding: 40px;
}
.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    transition: fill 250ms var(--cubic-bezier);

   &:hover,
   &:focus {
    fill: var(--accent-color);
} 
}

/*.modal-btn-icon:hover,
.modal-btn-icon:focus{
    fill:var(--accent-color)*/

.modal .modal__title {
    display: block;
    margin: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
}

.modal .modal__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal .modal__input {
    display: block;
    padding: 12px 42px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--cubic-bezier);

    &:hover {
            border-color: var(--accent-color);
        }
}

.modal__group {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.modal__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(12px, -50%);
    fill: #212121;
    transition: fill 250ms var(--cubic-bezier);

   .modal__group:focus-within &,
   .modal__group:hover & {
    fill: var(--accent-color)
} 
}

.modal .feedback {
    display: block;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked+.checkbox__icon {
    border-color: transparent;
    background-color: #2196F3;
    background-image: url(../imagas/icons/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}
}

.checkbox__icon {
    display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 1.5px solid #212121;
    border-radius: 2px;
}


.checkbox__title {
    font-size: 12px;
    user-select: none;
    color: #757575;
    @media screen and (min-width: 1200px) {
    font-size: 14px;;
        }
}

.checkbox__link {
    text-underline-position: under;
    color: var(--accent-color);
}

.modal .send-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
    background-color: #188CE8;
}
}

