.gallery {
    /*display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    /*gap: 30px;*/
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

   &__item {
    /*flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;*/
    margin-bottom: 30px;
    @media screen and (min-width: 768px){
        flex-basis: calc((100% - 30px)/2);
    }
   @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 60px)/3);
        }
} 

   &__wrapper {
    border: 1px solid #EEEEEE;
    border-top: none;
    /*padding: 20px 24px;*/
    padding-bottom: 20px;
        padding-left: 24px;
        padding-top: 20px;
}
}
  
.gallery__item:last-child{
    margin-bottom: 0;
}


.gallery__link {
    transition: box-shadow 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
}


.gallery__subtitle {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.gallery__desc {
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
}

/*portfolio overlay*/

.gallery__overlay {
    position: relative;
    overflow: hidden;
}

/*.gallery-overlay::before{
 display: block;
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color:rgba(33, 150, 243, 0.9);
 transform: translateY(100%);
 transition: transform 250ms var(--cubic-bezier);
}*/
.gallery__link:hover .gallery__card {
    transform: translateY(0);
    opacity: 1;
}

.gallery__card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms var(--cubic-bezier),
        opacity 250ms var(--cubic-bezier);
}

.gallery__text {

    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
    padding: 63px 24px;
    
    color: var(--primary-white-color);
}